@font-face {
  font-family: Raleway-Regular;
  src: url(../public/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../public/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url(../public/fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(../public/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: Raleway-Light;
  src: url(../public/fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url(../public/fonts/RobotoCondensed-Bold.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway-Regular', 'Segoe UI', 'Roboto', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-image: url(../public/tools/bagLogo.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
}

.carIcon {
  background-image: url(../public/tools/shopCar.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  width: 40px;
  height: 30px;
}

.addItem {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.contentAdd:hover .addItem {
  background-color: #5ECE7B;
}

.contentAdd:hover .shopCar {
  background-image: url(../public/tools/shopCarWhite.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.textImage, a:link { text-decoration: none; }

.listMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: Black;
  padding: 0px 15px;
  height: 50px;
  border-bottom: 2px solid transparent;
}

.listMenu:hover {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
}

.optionCurrency:checked {
  height: 50px;
  border: none;
}

.v {
  display: flex;
  align-items: center;
  background-image: url(../public/tools/v.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  margin: 0px 10px;
  width: 10px;
  height: 5px;
}